
<div class="center hero-unit">
  <h1>Welcome to sharehous.in!</h1>

  <h2>
    Houses are tricky things - there's tons of stuff that needs keping track of.
    <br>
    Sharehous.in can make it easy.
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
